
/*Edición general, se resetea el contenido con margen y bordes a cero*/
*{
    box-sizing:border-box; /*para que no cresca más del tamaño que uno la da a futuro*/
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    margin-left: 8px;
    background-color:rgba(186, 200, 212, 0.528); 
}

/*Estilizamos fuente, tamaños y estilos de LU,LI,H1,H2,P*/
h1 {font-size: 3em;}
h2 {font-size: 2em;}
ul {list-style: none;}
li {list-style: none;}



/* IMPORTAMOS BASE*/
@import "base/reset" ;
@import "base/vars";

/* IMPORTAMOS COMPONENTES*/
@import "componets/footer" ;
@import "componets/navbar";

/* IMPORTAMOS LAYOUT*/
@import "layouts/contacto";
@import "layouts/index";
@import "layouts/nosotros";
@import "layouts/plantas";
@import "layouts/proyectos";

















