
.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(245, 241, 250);
    font-size: 0.9em; 
    border-radius: 10px;
    padding-top: 10px;
} 

.container-fluid .row {
    justify-content: space-between;
}


footer h4{
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: underline;
    color: blueviolet;
}


footer p{
    font-size: 0.8em;
}


.fab{
    font-size: 30px;
    padding: 5px;
}


.fa-solid{
    font-size: 40px;
    padding-left: 20px;
}       


.mapa{
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 1px 5px 5px rgb(47, 48, 60);
    width: 500px; height: 300px;
}