$font-web: 'Roboto', sans-serif;
$primary-color: radial-gradient(rgb(177, 189, 239), rgb(241, 237, 237)); 
$secundary-color: rgb(227, 154, 90);
$tertiary-color: rgb(224, 222, 102);
$sombra: 1px 5px 5px rgb(47, 48, 60);