

/*Estilizamos fuente, tamaños y estilos de LU,LI,H1,H2,P*/
h1 {font-size: 3em;}
h2 {font-size: 2em;}
ul {list-style: none;}
li {list-style: none;}

/*---------------SECTION/MAIN---------------------------------------------------------------------------------*/

.content{
    display: flex;
    justify-content: center;
    align-content: center;
}

.card{
    box-shadow: 1px 5px 5px rgb(127, 60, 148);/*sombra*/
    align-content: center;
    justify-content: center;
    margin: 40px;
}


/*Estilizamos las IMAGENES de la card*/
.card-images{
    border-radius: 10px;/*borde redondeado*/
    box-shadow: 1px 5px 5px rgb(47, 48, 60);/*sombra*/
    object-fit: cover;
    overflow: hidden;
}


/*Estilizamos los BOTONES de los ENLACES <a>*/
.button {
    font-size: 1em;
    height: 2.3em;
    width: 8em;
    border-radius: 10px;
    font-weight: bold;
    font-style: italic;
    box-shadow: 1px 5px 5px rgb(47, 48, 60);/*sombra*/
    border: 1px solid rgb(47, 48, 60);
    background-color: blueviolet;
    margin-top: 10px;
}

.boton{
    display: flex;
    justify-content: center;
}


/*Estilizamos la class .color-part, divide el color de los H1, H2"*/
.color-part{
    color:blueviolet;
}

/*Estilizamos los textos de los botones*/
.button a{
    color: rgb(245, 245, 245);
    text-decoration: none;
}


/*Animación de los botones*/
button:hover{
    background-color: rgb(42, 12, 71);
}

/*Estilizamos los párrafos <p> de los container o sections*/
.card p{
    margin-top: 20px;
    font-size: 1.1em;
    text-align:justify;
}

/*Estilizamos la id #FRASE*/

#frase{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 1.9em;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;/*borde redondeado*/    
}