body {
    font-family: $font-web;
    margin: 0;
    margin-left: 8px;
    background-color: $primary-color;
}


h1 {font-size: 3em;}
h2 {font-size: 2em;}
ul {list-style: none;}
li {list-style: none;}


.content{
    display: flex;
    justify-content: center;
    align-content: center;
}

.card{
    box-shadow: $sombra;
    align-content: center;
    justify-content: center;
    margin: 40px;
    
    .card-images {
        border-radius: 10px;
        box-shadow: $sombra;
        object-fit: cover;
        overflow: hidden;
        height: 250px;
        width: 100%;

    }

    .card p{
        margin-top: 20px;
        font-size: 1.1em;
        text-align:justify;
        min-height: 230px;
        max-height: 100%;
    }

    .card-body {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}


.button {
    font-size: 1em;
    height: 2.3em;
    width: 8em;
    border-radius: 10px;
    font-weight: bold;
    font-style: italic;
    box-shadow: $sombra;
    border: 1px solid rgb(47, 48, 60);
    background-color: blueviolet;
    margin-top: 10px;
}

/*
.boton{
    display: flex;
    justify-content: space-between;
}
*/

@mixin color-part {
    color:blueviolet;
}

.color-part{
    @include color-part;
}

.button a{
    color: rgb(245, 245, 245);
    text-decoration: none;
}


button:hover{
    background-color: rgb(42, 12, 71);
}


#frase{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 1.9em;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}